PORT=8080
MONGO_URI=mongodb://root:dev2@mongodb:27017/dev2knowledge?authSource=admin
MONGO_DATABASE=dev2knowledge
NATS_URL=nats://nats:4223
INGEST_PARSER_PATH=ingest-parser
WORKSPACE_DIR=/data/workspace
